@font-face {
    font-family:FjallaOne ;
    src: url(Fonts/FjallaOne.ttf);
}


header{
    background-color: rgb(0, 174, 255);
    font-family: FjallaOne;
    border-bottom: 10px solid;
    border-color: white;
    border-radius: 10px;
    padding-left: 20px;
    position: sticky;
     top: 0px;
     margin-top: 0px;
     margin: 0px;
     text-decoration: none;
}
@media (max-width:600px){
    #header {
        width: 100%;
    }


}

#MainPageBody {
    background-color: gray;
    background-image: url(Background/BackgroundPic.jpeg); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
.MainPageList {
    text-decoration: none;
}
.MainPageList:visited {
    color: rgb(0, 0, 0);
}
.MainPageList:hover {
    color: rgb(0, 250, 104);
}
.MainPageList:active {
    color: rgb(255, 0, 0);
}

footer{background-color: rgba(0, 174, 255, 0.781); height: 50px; text-align: center;
border-top: 10px solid hsl(0, 0%, 100%);
border-radius: 10px;

}

#BL {
    background-color: antiquewhite;
    font-size: 30px;
    font-family: 'FjallaOne';  
    padding-left: 20px;
    
}
#Base {
    background-color: aliceblue;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;    
}
#BaseTxT {
    
    padding: 30px;
}
#HtmlCodeList {
    font-family:FjallaOne ;
    font-weight: bold;
    padding-left: 20px;
    box-shadow: 4px 4px 10px;
    background-color: white;
    
}
#FormTXT {
    font-weight: bold;
    padding-top: 20px;
    color: aliceblue;
    font-family: FjallaOne ;
}
#Form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 5px white;
    box-shadow: 4px 4px 10px;
}
#Email {
    width: 200px;
}
#FormBG {
    background-color: rgb(24, 152, 238);
    width: 500px;
    height: 300px;
}
#FormInfo {
    position: absolute;
    top: 20%;
    left: 25%;
} #FormButton {
    position: absolute;
    top: 65%;
    left: 40%;
 } #FormPageBody {
     background-image: url(Background/BackgroundPic.jpeg); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
 }
#TableDayColor {
    background-color: coral;
    
    
}
.TimeSubject {
    background-color: cyan;
    font-family: 'FjallaOne';
    
}
#TableBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 5px white;
    box-shadow: 4px 4px 10px;
    background-color: aliceblue;
    font-size: 20px;
    width: 53%;
    padding-left: 30px;
    padding-bottom: 50px;
}

#TableBG {
    background-image: url(Background/BackgroundPic.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.ClassSubject {
    background-color: yellow;
}


.NavBar {
    background-color: #0099ff;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid white 10px;
    margin: 0px;
}
.NavDiv {
display: flex;
align-items: center;
justify-content: space-between;  

}
.Logop {
    height: 10px    ;
    font-size: 10px;
}
.NavList {
    list-style: none;
    display: inline-block;
}
.NavList a{
    color: white;
    margin-right: 25px;
    font-family: 'FjallaOne';
    font-size: 100%;
    text-decoration: none;
}
.NavButton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 15px;
    margin-right: 20px;
    width: 80px;
    height: 40px;
    text-decoration: none

}

.NavButton:visited {
    color: white;
}

.NavButton:hover {
    color: rgb(0, 255, 55);
}
.NavButton:active {
    color: rgb(255, 0, 0);
}
#PracticeBody {
    background-image: url(Background/BackgroundPic.jpeg); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.PBox {
    background: white;
    height: 700px;
    width: 80%;
    margin: 1%;
    box-shadow: 4px 4px 10px;
}
.BoxDiv {
    display: flex;
}
#AdvicerIMG {
    height: 40%;
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 5%;

}
#MayorIMG {
    height: 40%;
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 5%;
}
#GovernorIMG {
    height: 40%;
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 5%;
}
.BoxDiv1 {
    background-color: white;
    height: 500px;
    width: 100%;
    margin-top: 50px;
    box-shadow: 4px 4px 10px black;
}
#HeadlineTXT {
    background-color: rgb(0, 130, 252);
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    display: fixed;
    align-items: center;
    margin:0 auto; 
    width: 20%;
    box-shadow: 4px 4px 10px black;
}
.FooterPrac {
    background-color:#0099ff ;
    height: 90px;
}
.FooterDiv {
    font-family:'FjallaOne';
    color: white;
    font-size: 50%;
    text-align: center;
    padding-top: 1%;
}
.TeachersDiv {
    background-color: rgb(221, 218, 218);
    Height: 800px;
    border-top: 10px white solid;
    border-bottom: 10px white solid;
    border-radius: 20px;
    
}
.TeachersLabel {
      background-color: rgb(0, 130, 252);
    border-radius: 20px;
    border: 2px solid white;
    display: fixed;
    margin: 0 auto;
    align-items: center;
    font-family:'FjallaOne';
    font-weight: bold;
    width: 20%;
    box-shadow: 4px 4px 10px black;
    text-align: center;
    height: 50%;
    font-size: 30px;
    color: white;
}
