@font-face {
    font-family:FjallaOne ;
    src: url(Fonts/FjallaOne.ttf);
}



@media (max-width:600px){
    #header {
        width: 100%;
    }


}

#MainPageBody {
    background-color: gray;
    background-image: url(Background/BackgroundPic.jpeg); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
.MainPageList {
    text-decoration: none;
}
.MainPageList:visited {
    color: rgb(0, 0, 0);
}
.MainPageList:hover {
    color: rgb(0, 250, 104);
}
.MainPageList:active {
    color: rgb(255, 0, 0);
}

footer{background-color: rgba(0, 174, 255, 0.781); height: 50px; text-align: center;
border-top: 10px solid hsl(0, 0%, 100%);
border-radius: 10px;

}

#BL {
    background-color: antiquewhite;
    font-size: 30px;
    font-family: 'FjallaOne';  
    padding-left: 20px;
    
}
#Base {
    background-color: aliceblue;
    width: 98%;
    margin-top: 1%;
    margin-left: 1%;    
}
#BaseTxT {
    
    padding: 30px;
}
#HtmlCodeList {
    font-family:FjallaOne ;
    font-weight: bold;
    padding-left: 20px;
    box-shadow: 4px 4px 10px;
    background-color: white;
    
}
.FormBox {
    background-color: rgb(255, 255, 255);
    height: 700px;
    width: 800px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px black;
    border-radius: 15px;

}
#FormPageBody {
    background-image: url(Background/BackgroundPic.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
#FormLabel {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;    

    
}
.FormContainer {
    margin: 0 auto;
}
#FullNameInput, #BirthDateInput, #LRNInput,  #ContactInput, #GradeInput, #EmailInput {
    width: 300px;
    height: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}
.DropDownGrade {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}
.ButtonForm {
    background-color: rgba(16, 188, 250, 0.974);
    margin: 8px auto;
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 20px;
    position: relative;
    left: 30%;

}
#BackButtonForm {
    top: 3%; 
    left: 3%;
    position: absolute;
}
#TableDayColor {
    background-color: coral;
    color: white;
    
    
}
.TimeSubject {
    background-color: cyan;
    font-family: 'FjallaOne';
    
}
#TableBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 5px white;
    box-shadow: 4px 4px 10px;
    background-color: aliceblue;
    font-size: 20px;
    width: 53%;
    padding-left: 30px;
    padding-bottom: 50px;
}

#TableBG {
    background-image: url(Background/BackgroundPic.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.ClassSubject {
    background-color: yellow;
}


.NavBar {
    background-color: #0099ff;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid white 10px;
    margin: 0px;

   
}
.NavDiv {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #0099ff;
    border-bottom: solid white 10px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.NavContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logop {
    height: 10px    ;
    font-size: 10px;
}
.NavList {
    list-style: none;
    display: inline-block;
}
.NavList a{
    color: white;
    margin-right: 25px;
    font-family: 'FjallaOne';
    font-size: 100%;
    text-decoration: none;
}
.NavButton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 15px;
    margin-right: 20px;
    width: 80px;
    height: 40px;
    text-decoration: none

}

.NavButton:visited {
    color: white;
}

.NavButton:hover {
    color: rgb(0, 255, 55);
}
.NavButton:active {
    color: rgb(255, 0, 0);
}
#PracticeBody {
    background-image: url(Background/BackgroundPic.jpeg); 
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.PBox {
    background: white;
    height: 700px;
    width: 80%;
    margin: 1%;
    box-shadow: 4px 4px 10px;
}
.BoxDiv {
    display: flex;
}
#AdvicerIMG {
    height: 40%;
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 5%;

}
#MayorIMG {
    height: 40%;
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 5%;
}
#GovernorIMG {
    height: 40%;
  display: block;
  margin: auto;
  width: 50%;
  padding-top: 5%;
}
.BoxDiv1 {
    background-color: white;
    height: 90%;
    width: 50%;
    margin-top: 50px;
    box-shadow: 4px 4px 10px black;
    display: flex;
}
#HeadlineTXT {
    background-color: rgb(0, 130, 252);
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    display: fixed;
    align-items: center;
    margin:0 auto; 
    width: 20%;
    box-shadow: 4px 4px 10px black;
}
.FooterPrac {
    background-color:#0099ff ;
    height: 90px;
}
.FooterDiv {
    font-family:'FjallaOne';
    color: white;
    font-size: 50%;
    text-align: center;
    padding-top: 1%;
}
.TeachersDiv {
    background-color: rgb(221, 218, 218);
    Height: 800px;
    border-top: 10px white solid;
    border-bottom: 10px white solid;
    border-radius: 20px;
    
}
.TeachersLabel {
      background-color: rgb(0, 130, 252);
    border-radius: 20px;
    border: 2px solid white;
    display: fixed;
    margin: 0 auto;
    align-items: center;
    font-family:'FjallaOne';
    font-weight: bold;
    width: 20%;
    box-shadow: 4px 4px 10px black;
    text-align: center;
    height: 50%;
    font-size: 30px;
    color: white;
}
@media only screen and (max-width: 600px) {
    .TeachersLabel {
        width: 50%;
        font-size: 20px;
    }
}
@media only screen and (max-width: 400px) {
    .TeachersDiv {
        height: 1000px;
        
    }
}
.FormBody {
    background-image: url(Background/BackgroundPic.jpeg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.FormContent {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-family: 'FjallaOne';
    width: 500px;
    margin: auto;
    margin-top: 100px;
}
.SubmitButton {
    background-color: #0099ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'FjallaOne';
    font-weight: bold;
    margin-top: 20px;
}
.VinBox {
    background-color: white;
    height: 500px;
    width: 60%;
    box-shadow: 4px 4px 10px;
    left: 2%;
    position: relative;

}
.Tablevin {
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 30%;
    display: auto;
    margin-left: 2%;
    box-shadow: 4px 4px 10px;

}
.VinContainer {
    display: flex;

    height: 100%;
    position: relative;
}
.Rectangle1 {
    background-color: rgb(226, 224, 223);
    height: 100px;
    width: 70%;
    margin-top: 50px;
    border-radius: 20px;
    border: black solid 2px;
    flex: auto;
    position: absolute;
    left: 20%;
}
.Rectangle2 {
    background-color: rgb(226, 224, 223);
    height: 100px;
    width: 28%;
    border-radius: 20px;
    border: black solid 2px;
    flex: auto;
    position: absolute;
    left: 71.5%;
    top: 35.4%;
    rotate: 90deg;
}
.Rectangle3 {
    background-color: rgb(226, 224, 223);
    height: 100px;
    width: 64%;
    border-radius: 20px;
    border: black solid 2px;
    flex: auto;
    position: absolute;
    left: 5%;
    top: 40%;
    rotate: 20deg;
}
.VinHeader {
    background-color: rgb(0, 130, 252);
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    display: fixed;
    align-items: center;
    margin:0 auto; 
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;;
    box-shadow: 4px 4px 10px black;
    text-align: center;
}
.comfortroomf1-1 {
    position: absolute;
    top: 20%;
    left: 3%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 20px;
    width: 5%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.Clinicf1 {
    position: absolute;
    top: 40%;
    left: 13.2%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 7%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.Guidancef1 {
    position: absolute;
    top: 40%;
    left: 20.7%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 7%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}
.Facultyf1 {
    position: absolute;
    top: 40%;
    left: 29.5%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 10%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.Facultyf1r2 {
    position: absolute;
    top: 40%;
    left: 39.6%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 10%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.Libraryf1 {
    position: absolute;
    top: 40%;
    left: 49.9%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 10%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.Conferencef1 {
    position: absolute;
    top: 40%;
    left: 65.2%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 20%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.comfortroomf1-2 {
    position: absolute;
    top: 20%;
    left: 82%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 20px;
    width: 5%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.tempf1
{
    position: absolute;
    top: 20%;
    left: 95%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 25px;
    width: 10%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}
.Facultyf1r3 {
    position: absolute;
    top: 64%;
    left: 95%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 25px;
    width: 10%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}
.tempf1r2 {
    position: absolute;
    top: 107.5%;
    left: 95%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 25px;
    width: 10%;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}
html {
    scroll-behavior: smooth;
}
.AdminOfficef1 {
    position: absolute;
    top: 202.5%;
    left: 95%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 130px;
    width: 10%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 10px;

}
.comfortroomf1-3 {
    position: absolute;
    top: 315.2%;
    left: 97.2%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 25px;
    width: 5%;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;

}
.CanteenRoomf1 {
    position: absolute;
    top: 61.2%;
    left: 23.5%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 28%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 10px;

}
.comfortroomf1-4 {
    position: absolute;
    top: 82.2%;
    left: 2.5%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 20px;
    width: 5%;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.Room104 {
    position: absolute;
    top: 62.2%;
    left: 44.5%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 13%;
    padding-top: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 10px;

}
.Stairs1 {
    position: absolute;
    top: 34%;
    left: -0.4%;
}
.Stairs2 {
    position: absolute;
    top: 34%;
    left: 78.4%;
}
.Stairs3 {
    position: absolute;
    top: 289%;
    left: 87.8%;
    rotate: 90deg;
}
.ElectricalLabf1 {
    position: absolute;
    top: 62.2%;
    left: 57.9%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 13%;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.AutomotiveLabf1 {
    position: absolute;
    top: 62.2%;
    left: 71.2%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 13%;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.AutomotiveLabf1r2 {
    position: absolute;
    top: 62.2%;
    left: 84.5%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 60px;
    width: 13%;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}
.comfortroomf1-5 {
    position: absolute;
    top: 82.2%;
    left: 97.5%;
    transform: translate(-50%, -50%);
    border: solid 2px black;
    background-color: rgb(248, 215, 66);
    height: 35px;
    width: 5%;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
.Stairs4 {
    rotate: 180deg;
    position: relative;
    top: 12%;
    left: 0.5%;
}
