.TitleDiv {
    background-color: rgb(10, 144, 239);
    border:5px solid black;
    border-radius: 15px;
    width: 35%;
    padding-right: 10px;
    height: 15%;
    left: 30%;
    top: 0%;
    position: absolute;
    color: white;    
}
.TitleTag {
    text-align: center;
    padding-left: 20px;
}
body {
    background-color: crimson;
}
.StoryDiv {
    background-color: white;
    border-radius: 15px;
    height: 300px;
}
.StoryText {
    padding-left: 15px;
}