.Content1 {
font-family: Arial;
font-size: 12px;
font-weight: bold;
width: 300px; }
.Content1:first-letter {
font-family: Arial;
font-size: 22px;
color: blue; }
.Content2 {
font-family: Arial;
font-size: 12px;
font-weight: bold;
width: 300px }
.Content2:first-line{
font-family: Arial;
font-size: 12px;
text-decoration: underline }
.Content3 {
font-family: Arial;
font-size: 12px;
font-weight: bold;
width: 300px; }
.Content3:first-letter {
font-family: Arial;
font-size: 22px;
color: blue; }
.Content3:first-line {
font-family: Arial;
font-size: 12px;
text-decoration: underline; }