.TitleTag {
    background-color: rgb(0, 42, 255);
    border-bottom: 10px solid rgb(6, 6, 6);
    font-weight: bold;
    color: white;
    text-align: center;
}
.HeadingDiv {
    background-color: crimson;
    border: 10px solid black;
    color: white;
    text-align: center;
}
body {
    background-color: gray;
    color: white;
}
.DefinitionTermsDiv {
    background-color: brown;
    border-top: 10px solid White;
    border-bottom: 10px solid white;
    border-radius: 10px;
    padding-left: 10px;
}